.NavBarLinkAnimateUnderline {
  position: relative;
  text-align: center;
  font-size: 18px;
  &::after {
    content: "";
    height: 2px;
    background-color: rgb(99 102 241);
    width: 0%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 0.3s;
  }
  &::before {
    content: "";
    height: 2px;
    background-color: rgb(99 102 241);
    width: 0%;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    transition: all 0.3s;
  }
  &:hover::before {
    width: 50%;
    left: 0;
  }
  &:hover::after {
    width: 50%;
    right: 0;
  }
}

.subCategoriesContainer {
  height: calc(100vh - 141px);
  position: fixed;
  bottom: 5px;
  left: 1.5vw;
  width: 97vw;
}
 