@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: body;
  src: url("./Fonts/body.ttf");
}
@font-face {
  font-family: title;
  src: url("./Fonts/title.ttf");
}
.hideScroll::-webkit-scrollbar {
  display: none;
}
